.footer-container{
   
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.footer-link{
    color: white;

}