.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    align-self: center;

}
.header-container h1{
    font-style: normal;
    font-family: 'Poppins', sans-serif;

    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    color:rgb(245, 244, 250);
    
}
 .header-container p{
    font-style: normal;
    font-family: 'Poppins', sans-serif;
color: gray;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin: 10px 0;

}

@media only screen and (max-width:640px){
    .header-container{
        
        width: 80%;
        
    }
    
    p{
       
        font-size: 10px;
        line-height: 27px;
       
    
    }
.header-container h1{
    font-size: 30px;
}
}